/* ヘッダー部分 ここから */
.header {
  background-color: thistle;
  height: 70px;
  display: flex;
  justify-content: space-between;
  font-family: cursive;
  border-bottom: 2px solid lightgray;
}

.header-logo {
  font-size: 40px;
}

.logo {
  text-decoration: none;
  color: powderblue;
}

.header-parts {
  font-family: cursive;
  font-size: 40px;
}

.header-part {
  text-decoration: none;
  color: gray;
  padding: 0 30px;
}

.monthes {
  display: flex;
  text-align: center;
}

.month {
  margin-left: 20px;
}
/* ヘッダー部分 ここまで */

/* メインここから */
main {
  height: calc(100vh - 130px);
  font-family: Hannotate SC;
}

.yourbabies {
  text-align: center;
  padding: 60px;
  font-size: 30px;
}

.babies {
  display: flex;
  justify-content: space-around;
}

.baby-card {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  padding: 60px 0;
  position: relative;
  border-radius: 10px;
  background-color: rgb(250, 240, 255);
  transition: opacity 0.3s;
  overflow-x: scroll;
  margin: 0 30px;
}

.baby-card:hover {
  opacity: 0.7;
}

.babyshowlink {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.baby-image {
  border-radius: 200px;
}

.baby-info {
  font-size: 20px;
  line-height: 60px;
}

.edit-button {
  width: 35%;
  position: absolute;
  z-index: 10;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(254, 212, 255);
}

.edit-button:hover {
  opacity: 1;
}

.edit {
  display: block;
  text-decoration: none;
  color: chocolate;
}

.edit:hover {
  opacity: 1;
}

/* メイン ここまで */

/* フッターここから */
footer {
  height: 60px;
  background-color: gray;
}
/* フッターここまで */