.i-yourbabies {
  height: 15%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-cards-wrapper {
  height: 85%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.i-cards {
  height: 98%;
  width: 200%;
  display: flex;
  justify-content: space-around;
}

.i-card {
  width: 33vw;
  height: 85%;
  margin: 0 25px;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 5%;
}

.i-showlink {
  text-decoration: none;
  color: black;
}

.i-showlink:hover {
  color: black;
}

.i-card-contents {
  height: 80%;
  display: flex;
  justify-content: center;
  border: 2px solid lightgray;
  border-radius: 25% 5%;
  padding: 3em 0;
  margin: 20px;
  position: relative;
}

.i-card-contents:hover {
  opacity: 0.8;
}

.i-baby-image {
  border-radius: 45%;
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.i-baby-info {
  width: 45%;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  margin-left: 10px;
}

.i-baby-edit {
  height: 10%;
  text-align: center;
  margin: 20px;
}

.i-edit-button {
  font-size: 18px;
  display: inline-block;
  padding: 0.4em 2em 0.4em;
  color: #ffffff;
  border: #ffffff dashed 1px;
  box-shadow: 0 0 0 0.2em #ff99cc;
  border-radius: 2.5px;
  background-color: #ff99cc;
  cursor: pointer;
}

.i-edit-button:hover {
  opacity: 0.8;
}

.i-edit {
  color: #ffeef8;
  text-decoration: none;
}

.i-edit:hover {
  color: #ffeef8;
}

.i-not-login {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-signin {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: lightgray 1px solid;
}

.not-signin p {
  font-size: 50px;
  opacity: 0.8;
}