.n-contents {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.n-form {
  margin-top: 50px;
  margin-left: 50px;
}

.baby-text {
  height: 28px;
}

.input-birth-wrap {
  display: flex;
  height: 28px
}

.input-birth-wrap p {
  margin-right: 20px;
}

.n-button {
  margin-top: 30px;
  display: flex;
}

.n-submit {
  text-decoration: none;
  border: none;
  padding: 0.4em 2em 0.4em;
  color: #ffffff;
  border: #ffffff dashed 1px;
  box-shadow: 0 0 0 0.2em #ff99cc;
  border-radius: 2.5px;
  background-color: #ff99cc;
}

.n-submit:hover {
  opacity: 0.8;
}

.n-link {
  margin-left: 30px;
  text-decoration: none;
  text-decoration: none;
  border: none;
  padding: 0.4em 2em 0.4em;
  color: #ffffff;
  border: #ffffff dashed 1px;
  box-shadow: 0 0 0 0.2em #99bbff;
  border-radius: 2.5px;
  background-color: #99bbff;
}

.n-link:hover {
  opacity: 0.8;
  color: #ffffff;
}