<header>
  <div class="header">
    <div class="header-logo">
      <%= link_to image_tag("IMG_0006.PNG"), root_path, class:"logo" %>
    </div>
    <div class="header-parts">
      <% if user_signed_in? %>
        <%= link_to "New Baby", new_baby_path, class:"header-part" %>
      <% else %>
        <%= link_to "New Registration", new_user_registration_path, class:"header-part" %>
        <%= link_to "Log In", new_user_session_path, class:"header-part" %>
      <% end %>
    </div>
  </div >
</header>