.registration {
  text-align: center;
  padding-top: 100px;
}

.registration-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.registration-form {
  display: flex;
  justify-content: center;
  align-items: center;

}

.field {
  padding: 24px;
}

.formtype {
  height: 2.4em;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.formtype:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
  transition: all 0.7s;
}

.actions {
  display: flex;
  justify-content: center;
}

.submitbtn {
  width: 180px;
  text-align: center;
  margin: 0 auto;
  border: none;
  color: #ffffff;
  border: #ffffff dashed 1px;
  box-shadow: 0 0 0 0.2em #ff99cc;
  border-radius: 2.5px;
  background-color: #ff99cc;
}

.submitbtn:hover {
  opacity: 0.8;
}

.loginbtnwrapper {
  display: flex;
  justify-content: center;
}

.loginlink {
  width: 180px;
  text-align: center;
  border: none;
  color: #ffffff;
  border: #ffffff dashed 1px;
  box-shadow: 0 0 0 0.2em lightblue;
  border-radius: 2.5px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.loglink {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.loginlink:hover {
  opacity: 0.8;
}

.loglink:hover {
  color: #ffffff;
}

